<!-- Header Bar -->
<div class="row header">
  <div class="col-xs-12">
    <div class="user pull-left">
      <div class="item dropdown" uib-dropdown>
        <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
          <img src="img/avatar.jpg">
        </a>
        <ul class="dropdown-menu dropdown-menu-left">
          <li class="dropdown-header">
            {{ dash.username }}
          </li>
          <li class="divider"></li>
          <li class="link">
            <a href="#">
              פרופיל
            </a>
          </li>
          <li class="link">
            <a href="#">
              שינוי סיסמא
            </a>
          </li>
          <li class="link">
            <a href="#">
              הוספת מנהל
            </a>
          </li>
          <li class="divider"></li>
          <li class="link">
            <a href="#" ng-click="doLogout()">
              התנתק
            </a>
          </li>
        </ul>
      </div>
      <div class="item dropdown" uib-dropdown>
       <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
          <i class="fa fa-bell-o"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li class="dropdown-header">
            התראות
          </li>
          <li class="divider"></li>
          <li>
            <a href="#">Server Down!</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="meta">
      <div class="page">
        פאנל
      </div>
      <div class="breadcrumb-links">
        <!-- פאנל \ קישור הבא -->
        {{ breadcrumbs.name }}
      </div>
    </div>
  </div>
</div>
<!-- End Header Bar -->
